.simulation_search{
    height: 100%;
    align-items: center;
    padding: 10px;
}
.flex {
    display: flex;
}
.simulation_table_list {
    padding: 50px 0;
}
.simulation_list_title {
    background-color: #ececec8a;
    border: 1px solid #dad9d99e;
    padding: 5px;
    border-radius: 4px;
    font-weight: 500;
}