.text-area {
    width:100%;
    border-radius:5px;
    border: 1px solid rgb(221,221,221)
}
.model-btn {
    height: 40px;
    color: white  !important;
}
.input-btn {
    width: 120px;
    height: 50px,;
    color: white !important;
    font-size: 12px;
    font-weight: bold
}
.disabled-btn{
    width: 120px;
    height: 50px,;
    font-size: 12px;
    font-weight: bold
}
.addIcon {
    font-size: 25px;
}