root {
    display: flex;
    /* grid-template-columns: auto 1fr; */
  }
  .rdg.fill-grid {
    height: 100%;
    /* min-height: 50vh; */
  }
  /* .rdg.small-grid {
    height: 300px;
  }
  .rdg.big-grid {
    height: 600px;
  }
  .rdg-cell .Select {
    max-height: 30px;
    font-size: 12px;
    font-weight: normal;
  } */